In [1]:
import pandas as pd
import numpy as np

In [2]:
dataFrame=pd.read_excel("27-SalarySheet.xlsx")

In [3]:
dataFrame

       Employee Name            Department       Title  Salary
0       Semaj Bowers             Marketing         Mid     600
1        Gary Foster                 Sales         Mid     650
2   Saniya Maldonado                    HR         Mid     600
3     Jillian Zuniga                    HR     C-level    1000
4      Courtney Mora                 Sales         Mid     550
..               ...                   ...         ...     ...
95          Jake Gay                 Sales      Junior     443
96      Macy Webster               Finance     C-level    1250
97     Jaquan Meyers             Marketing  Mid-Senior     800
98       Willow Bush  Software Development      Junior     441
99   Emmanuel Prince                 Sales         Mid     612

[100 rows x 4 columns]

In [12]:
len(dataFrame)

100

In [18]:
dataFrame["Salary"].mean()

725.84

In [31]:
Salary=dataFrame.groupby('Department')['Salary'].mean()

In [32]:
Salary

Department
Finance                 805.411765
HR                      640.937500
Marketing               707.000000
Sales                   656.666667
Software Development    826.409091
Name: Salary, dtype: float64

In [33]:
senior_salary=dataFrame.groupby("Title")["Salary"].mean()

In [34]:
senior_salary

Title
C-level       1058.333333
Junior         440.625000
Mid            641.450000
Mid-Senior     725.500000
Senior         867.777778
Name: Salary, dtype: float64

In [35]:
senior_grup = dataFrame[dataFrame['Title'].str.contains('Senior')]

In [36]:
junior_grup= dataFrame[dataFrame["Title"].str.contains("Junior")]

In [38]:
senior_ortalama_maas=senior_grup["Salary"].mean()

In [39]:
junior_ortalama_maas=junior_grup["Salary"].mean()

In [40]:
fark_yuzdesi=((senior_ortalama_maas-junior_ortalama_maas)/junior_ortalama_maas)*100

In [41]:
fark_yuzdesi

79.9477416946622

In [48]:
software_senior_grup = dataFrame[(dataFrame['Department'] == 'Software Development') & (dataFrame['Title'].str.contains('Senior'))]

In [50]:
software_junior_grup = dataFrame[(dataFrame['Department'] == 'Software Development') & (dataFrame['Title'].str.contains('Junior'))]

In [51]:
software_senior_ortalama_maas = software_senior_grup['Salary'].mean()
software_junior_ortalama_maas = software_junior_grup['Salary'].mean()

In [52]:
fark_orani = (software_senior_ortalama_maas / software_junior_ortalama_maas - 1) * 100

In [53]:
fark_orani

83.3462432223083

In [56]:
c_level_maas_ortalama=dataFrame[(dataFrame["Department"] == "Finance") & (dataFrame["Title"] == "C-level")]["Salary"].mean()

In [59]:
Mid_Senior_maas_ortalama=dataFrame[(dataFrame["Department"] == "Finance") & (dataFrame["Title"] == "Mid-Senior")]["Salary"].mean()

In [60]:
c_level_mid_senior_maas_farki=c_level_maas_ortalama-Mid_Senior_maas_ortalama

In [61]:
c_level_mid_senior_maas_farki

240.0